@import "~modularscale-sass/stylesheets/modularscale";
$modularscale: (
  base: 1em,
  ratio: 1.25
);

p,
ul {
  font-family: "Oxygen", serif;
  font-size: ms(0);
}

ul {
  list-style-type: square;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Doppio One", sans-serif;
  margin: 1.75em 0 0.8em;
  color: $color-primary;
}

h1 {
  font-size: ms(5);
}

h2 {
  font-size: ms(4);
}

h3 {
  font-size: ms(3);
}

h4 {
  font-size: ms(2);
}

h5 {
  font-size: ms(1);
}

h6 {
  font-size: ms(0);
}
