$color-primary: #243949;
$color-secondary: #517fa4;
$color-accent: #e3b016;
$color-bg: #c3cfe2;
$gradient-solid-stone: linear-gradient(
  to right,
  $color-primary 0%,
  $color-secondary 100%
);
$gradient-saint-petersburg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
$fa-font-path: "~font-awesome/fonts/";
$hamburger-layer-color: #fff;
$hamburger-padding-x: 8px;
$hamburger-padding-y: 8px;
$breakpoints: (
  tiny: 360px,
  small: 480px,
  medium: 800px,
  large: 1024px,
  xlarge: 1400px
);
