<figure class="project" style="background-image: url({{ .Params.image }}-/resize/500x/)">
  <figcaption class="project__body">
    <h3 class="project__title">{{ .Title }}</h3>
    <p class="project__summary">
      {{ .Params.Summary }}
    </p>
  </figcaption>
  <a href={{ .RelPermalink }}></a>
</figure>