{{ define "main" }} {{ if isset .Params "technologies" }}
<ul class="technologies">
  <div class="technologies__background"></div>
  {{ range sort .Params.technologies "name" }}
  <li data-technology="{{ .name }}">
    {{ if isset . "local" }}
    <img alt="" src="{{ (printf "images/icons/%s" .icon) | absURL }}"/> {{ else }}
    <img alt="" src="https://cdn.svgporn.com/logos/{{ .icon }}.svg" /> {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
<div class="hero">
  <div class="hero__links">
    {{ if isset .Params "website" }}
    <div class="url hero__link">
      <a href="{{ .Params.website }}" target="_blank">
        <i class="fa fa-globe"></i>
        Website
      </a>
    </div>
    {{ end }} {{ if isset .Params "source" }}
    <div class="repository hero__link">
      <a href="{{ .Params.source }}" target="_blank">
        <i class="fa fa-code"></i>
        Source
      </a>
    </div>
    {{ end }}
  </div>
</div>
<div class="content__text">
  <h2 class="title">{{ .Title }}</h2>
  {{ .Content | replaceRE "<p>" "<p class=\"content__content\">" | safeHTML }}
  <h3>Gallery</h3>
  <div class="content__gallery">
    <img class="gallery__image" data-zoomable src="{{ .Params.image | relURL }}" alt="">
  </div>
</div>
{{ end }}