{{ partial "header" . }}
<div class="shared">
  {{ partial "sidebar" . }}
  <main class="container">
    <div id="barba-wrapper">
      <div class="barba-container" data-namespace="{{ .Type }}">
        <div class="content page-{{ .Type }}">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </main>
  {{ partial "footer" . }}
