.hero {
  // background-color: lighten(desaturate($color-primary, 10%), 10%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23c3cfe2' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"),
    $gradient-saint-petersburg;
  // background-size: cover;
  height: 100px;
  width: 100%;
  transform: scale(0.7);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s;

  @include mq(xlarge) {
    position: absolute;
    height: 700px;
  }

  &__cover-image {
    width: 100%;
  }
}

.scale-in {
  transform: scale(1);
  opacity: 1;
}

.hero__links {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero__link {
  color: #fff;
  background-color: $color-primary;
  border: 1px solid $color-bg;
  border-left: none;
  border-bottom: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  transition: all 0.3s;

  &:hover {
    background-color: lighten(desaturate($color-primary, 10%), 10%);
  }

  i {
    font-size: 1.2em;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 10px 16px;
  }
}

.technologies {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: inherit;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#ddd, 0.6);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(6px);
    z-index: -1;
  }

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 100%;

    &::after {
      content: attr(data-technology);
      box-sizing: border-box;
      position: relative;
      top: 100%;
      width: 100%;
      text-align: center;
      background-color: darken($color-primary, 8%);
      color: #ddd;
      font-family: "Roboto", sans-serif;
      font-size: 0.75em;
      white-space: nowrap;
      padding: 4px 0;
      display: block;

      @include mq(small) {
        font-size: 0.85em;
      }
    }

    &:hover::after {
      background-color: $color-primary;
    }

    img {
      width: 100%;
      height: 60px;
      padding: 8px 0;
    }
  }
}

.pull-down {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.content__text {
  color: #333;
  background: #fff;
  font-size: 1.05em;
  // box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.75);
  padding: 0 24px;
  // margin: 0 24px;
  transform: translateY(100%);
  opacity: 1;
  transition: 0.6s transform 0.2s, 0.6s opacity 0.2s;
  flex: 1;
  padding-bottom: 16px;

  @include mq(large) {
    font-size: 1.1em;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 64px;
    width: 80%;
    max-width: map-get($breakpoints, large);
  }
}

.title {
  text-align: center;
  background-color: $color-primary;
  margin: 0 -24px;
  padding: 8px 24px;
  color: #fff;
  font-size: ms(4);
  letter-spacing: 2px;
  position: relative;

  @include mq(small) {
    letter-spacing: initial;
    font-size: ms(5);
    margin: 0 -104px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 40px 0 0;
      border-color: lighten($color-primary, 15%) transparent transparent;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 30px 0;
      border-color: transparent lighten($color-primary, 15%) transparent
        transparent;
    }
  }

  @include mq(large) {
    font-size: ms(5);
  }
}

.content__gallery {
  display: flex;
}

.medium-zoom-overlay {
  z-index: 98;
}

.gallery__image {
  width: 300px;
  height: 100%;
  z-index: 100;

  @include mq(small) {
    width: 400px;
  }
}

.content__content {
  line-height: 2em;
}
