.project {
  max-width: 450px;
  min-height: 300px;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 4px 1px rgba($color-primary, 0.4);
  border-radius: 6px;
  z-index: 0;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0 1px 7px 1px rgba($color-primary, 0.5);
  }

  &__preview {
    position: relative;
  }

  &__body {
    width: 100%;
    height: 100%;
    padding: 16px;
    z-index: 0;
    color: #333;

    &::after {
      content: '';
      display: block;
      background: darken($color-primary, 7%);
      background: $gradient-saint-petersburg;
      opacity: 0.92;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__title,
  &__summary {
    margin: 0;
  }

  &__summary {
    font-size: ms(0);
    line-height: 1.5;
  }

  &__title {
    margin-bottom: 12px;
    border-bottom: 2px solid #444;
    font-size: ms(2);
  }

  a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
}
