.sidebar {
  display: flex;
  grid-area: sidebar;
  position: absolute;
  background: $gradient-solid-stone;
  background-size: 100vw;
  flex-direction: column;
  min-width: 220px;
  padding-top: 40px;
  z-index: 99;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s transform;

  @include mq(medium) {
    display: flex;
    transform: none;
    position: relative;
  }

  &.is-active {
    transform: translateX(0);
  }

  &__menu {
    list-style: none;
    font-family: "Oxygen", sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;

    @include mq(large) {
      font-size: 1.5em;
    }

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: 20px 0 8px 10px;
      transition: background-color 0.15s, color 0.15s;

      &:hover {
        background-color: white;
        color: $color-primary;
      }
    }
  }
}

.profile {
  margin: 12px auto;

  &__image {
    border-radius: 50%;
  }
}
