<footer class="footer">
  <p class="footer__copyright">{{ .Site.Params.Copyright }} &copy; {{ now.Year }}</p>
  <div class="footer__social">
    {{ with .Site.Params.social.twitter }}
    <a href="{{ . }}" data-tooltip="Twitter">
      <i class="fa fa-twitter"></i>
    </a>
    {{end}} {{ with .Site.Params.social.email }}
    <a href="mailto:{{ . }}" data-tooltip="Email">
      <i class="fa fa-envelope"></i>
    </a>
    {{end}} {{ with .Site.Params.social.linkedin }}
    <a href="{{ . }}" data-tooltip="LinkedIn">
      <i class="fa fa-linkedin"></i>
    </a>
    {{end}} {{ with .Site.Params.social.gitlab}}
    <a href="{{ . }}" data-tooltip="Gitlab">
      <i class="fa fa-gitlab"></i>
    </a>
    {{end}}
  </div>
</footer>
</div>
{{ partial "js" . }}
</body>

</html>