<aside class="sidebar">
  <div class="profile">
    <!-- <img class="profile__image" alt="" src="https://www.gravatar.com/avatar/{{ md5 "dsimowitz@gmail.com" }}?s=100&d=identicon"/> -->
  </div>
  <ul class="sidebar__menu">
    {{ range .Site.Menus.main }}
    <li>
      <a href="{{.URL | relURL}}" class="no-barba">
          {{ .Pre }}
          <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
</aside>
